html,
body {
  min-height: 100%;
  padding: 0 !important;
  overflow: auto !important;
}

#__next {
  height: 100%;
}

nextjs-portal {
  /* display: none !important; */
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  background: rgb(22, 177, 255);
}

.video-player {
  position: absolute;
  object-fit: cover;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
  opacity: 0.3;
}

.bg-green {
  background-color: green;
  opacity: 0.5;
}

.image-thumbnail2 {
  width: auto;
  height: 100px;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

.css-1mswima {
  padding: 10px !important;
}

.css-bwjvwr-MuiTypography-root,
.MuiTouchRipple-root,
.MuiTypography-body1 {
  text-transform: capitalize !important;
}

.css-b8de9x-MuiListSubheader-root,
.MuiListSubheader-root,
.MuiListSubheader-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 42 !important;
  text-transform: capitalize !important;
}

.border-selected {
  border: 2px solid #16b1ff !important;
}

.border-gray,
.border-grey {
  border: 1px solid #dbdbdb !important;
}

.border-none {
  border: none !important;
}
